<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>東京2020プラカードジェネレーター</title>
    <meta name="description" content="東京２０２０オリンピックのプラカードをつくってみよう" />
    <meta property="og:image" content="https://drive.google.com/uc?id=1Ts3gk8HUB27dunN-PStUyVciN0ui1YEb" />
    <meta property="og:description" content="東京２０２０オリンピックのプラカードをつくってみよう" />
    <meta property="og:url" content="http://olympic-placard.herokuapp.com/Tokyo2020" />
    <meta property="og:title" content="東京2020プラカードジェネレーター" />
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="東京２０２０オリンピックのプラカードをつくってみよう">
    <meta name="twitter:title" content="東京2020プラカードジェネレーター">
    <meta name="twitter:image" content="https://drive.google.com/uc?id=1Ts3gk8HUB27dunN-PStUyVciN0ui1YEb">
    <meta name="twitter:site" content="@hikohiko22">
    <meta property="og:site_name" content="東京2020プラカードジェネレーター" />
    <meta property="og:locale" content="ja_JP" />
  </head>
  <body>
    <p style="font-size: 2rem">東京2020プラカードジェネレーター</p>
    <p>
      <input
        style="font-size: 1.25rem"
        placeholder="プラカードに表示"
        type="text"
        id="message"
        name="namae"
      />
      <button onclick="buttonClick()" value="送信する">送信</button>
      <script>
        function buttonClick() {
          var href = document.getElementById('message');
          var value = href.value;
          location.href = 'http://olympic-placard.herokuapp.com/' + value;
        }
      </script>
    </p>
    <img src="<%= imgBase64 %>" />
    <br /><a style="font-size: 2rem" href="<%= imgDL %>" download>download</a>
    <br />
    <script>
      !(function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0],
          p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
          js = d.createElement(s);
          js.id = id;
          js.src = p + '://platform.twitter.com/widgets.js';
          fjs.parentNode.insertBefore(js, fjs);
        }
      })(document, 'script', 'twitter-wjs');
    </script>
    ツイートしてね：<a
      href="https://twitter.com/share"
      data-url="https://olympic-placard.herokuapp.com/Tokyo2020"
      data-text="東京2020プラカードジェネレータ"
      class="twitter-share-button"
      >Tweet</a>
      <br><p>利用素材:<a href='https://www.irasutoya.com/2021/07/blog-post_23.html'>プラカードのイラスト（吹き出し付き）</a>
        <br>参考:<a href='https://github.com/pepoipod/dora-title-generater'>dora-title-generater</a></p>
  </body>
</html>
